.tw-followCard{
  display:flex;
  align-items:center;
  color:#fff;
  font-size:.8rem;
  justify-content:space-between;
  /* margin-bottom:20px; mala practica */
}

/* Cuando esta al lado de otro */
/* .tw-followCard + .tw-followCard{
  margin-top:8px;
} */

.tw-followCard-header{
  display:flex;
  align-items:center;
  gap:8px;
}

.tw-followCard-info{
  display:flex;
  flex-direction:column;
}

.tw-followCard-infoUserName{
  opacity:.6;
}

.tw-followCard-avatar{
  width:48px;
  height:48px;
  border-radius:1000px;
}

.tw-followCard-button{
  margin-left:16px;
  border:0;
  border-radius:999px;
  padding:6px 16px;
  font-weight:bold;
  cursor:pointer;
  transition: .3s ease background-color;
  width:135px;
}

.tw-followCard-button:hover{
  background-color:#09f;
}

.tw-followCard-text{
  display: block;
}

.tw-followCard-button.is-following{
  border:1px solid #bbb;
  background-color: transparent;
  color:#fff;
}

.tw-followCard-button.is-following:hover .tw-followCard-text{
  display:none;
}

.tw-followCard-button.is-following:hover{
  background-color:#222;
  border:1px solid #fff;
  color:red;
  transition:.3s ease all;
}

.tw-followCard-button.is-following:hover{
  background-color:rgba(255, 0, 0, 0.178);
  color:red;
  border:1px solid red;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
  display:block;
}

.tw-followCard-stopFollow{
  display:none;
}

.App {
  display:flex;
  flex-direction:column;
  gap:18px;
}